{% extends 'base.html' %}

{% block content %}
<div class="" style="background-image: url('project/static/bg2.jpg');background-size: cover">
    <h2 class='text-center text-light container-fluid pt-3'>Games</h2>

    <div class="container d-flex">
        <div class="col-sm-6 col-md-3 col-lg-3 mt-3">
            <div class="card">
                <img src="project/static/g5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-dark">Review</a>
                    <a href="#" class="btn btn-dark">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 mt-3">
            <div class="card">
                <img src="project/static/g6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-dark">Review</a>
                    <a href="#" class="btn btn-dark">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 mt-3">
            <div class="card">
                <img src="project/static/g4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-dark">Review</a>
                    <a href="#" class="btn btn-dark">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 mt-3">
            <div class="card">
                <img src="project/static/g1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-dark">Review</a>
                    <a href="#" class="btn btn-dark">Buy</a>
                </div>
            </div>
        </div>
    </div>


    <h2 class='text-center text-light container-fluid mt-3'>Books</h2>



    <div class="container d-flex pb-5">
        <div class="col-sm-6 col-md-3 col-lg-3 mt-3">
            <div class="card">
                <img src="project/static/g4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-dark">Review</a>
                    <a href="#" class="btn btn-dark">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 mt-3">
            <div class="card">
                <img src="project/static/g6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-dark">Review</a>                   
                    <a href="#" class="btn btn-dark">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 mt-3">
            <div class="card">
                <img src="project/static/g5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-dark">Review</a>                   
                    <a href="#" class="btn btn-dark">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 mt-3">
            <div class="card">
                <img src="project/static/g1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-dark">Review</a>
                    <a href="#" class="btn btn-dark">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}